.App {
  font-family: monospace;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
}

.cell {
  width: 22px;
  height: 22px;
  border: 1px dashed #d8d8d8;
}

.bright {
  background-color: white;
}

.dim {
  background-color: lightgrey;
}

.dark {
  background-color: grey;
}

.CA {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

.rules {
  margin-left: 20px;
  display: flex;
  font-size: 12px;
  flex-flow: column;
}

@media (max-width: 1200px) {
  .CA {
    flex-flow: column;
  }
}
