.App {
  font-family: monospace;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
}

.cell {
  width: 22px;
  height: 22px;
}

.bright {
  background-color: white;
}

.dim {
  background-color: lightgrey;
}

.dark {
  background-color: darkgrey;
}

.black {
    background-color: black;
}

.remembered {
    background-color: #6a6a79;
    color: black;
}

.wall {
    background-color: #736066;
}

.remembered-wall {
    background-color: #424675;
}

.CA {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

.rules {
  margin-left: 20px;
  display: flex;
  font-size: 12px;
  flex-flow: column;
}

@media (max-width: 1200px) {
  .CA {
    flex-flow: column;
  }
}
